.todo-list {
	list-style-type: none;
	width: 100%;
	padding-left: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.list-item-enter {
	opacity: 0;
	translate: -100%;
}

.list-item-enter-active {
	opacity: 1;
	translate: 0;
	transition: 300ms;
}

.list-item-exit {
	opacity: 1;
	translate: 0;
}

.list-item-exit-active {
	opacity: 0;
	translate: -100%;
	transition: 300ms;
}